<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta name="google-site-verification" content="GdATPojveGf3h_03Tvx9dn08qSW0TnE0zrBZEoRSviU" />
<title>{% block title %}{% endblock %}</title>
<![if gte IE 6]><!-- Block all styles from IE5 and lower -->
<link rel="stylesheet" href="/static/js/jquery/css/start/jquery-ui-1.8.5.custom.css" />
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}/static/css/base.css{% endblock %}" />
<!--link rel="stylesheet" href="/static/js/jquery/css/ui.all.css" type="text/css" /-->
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
<![endif]>

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

<script src="/static/js/jquery/jquery-1.4.2.min.js"></script>
<script src="/static/js/jquery/ui/jquery-ui-1.8.5.custom.min.js"></script>
<!--script src="/static/js/jquery/jquery.form.js"></script-->
<script src="/static/js/jquery/jquery.jeditable.js"></script>
<script src="/static/js/visualize.js"></script>

<script>
    {% comment %} csrf and ajax {% endcomment %}
    function getCurrentVuController() {
        return this.current_vu_controller;
    }
    $('html').ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

	URL = window.location.href;
	$(document).ready(function() {
        var $loader = $('#ajax_loader');
        if ($loader.length) {
            $('#ajax_loader').ajaxStart(function () {
                $(this).show();
            });
            $('#ajax_loader').ajaxStop(function () {
                $(this).hide();
            });
        }
        if ((URL.indexOf('login') > 0) || (URL.indexOf('logout') > 0 || (URL.indexOf('register') > 0)))
        {
            document.getElementById('user-tools').style.display="none";
        }
        {% if user.is_authenticated %}
            //We are in the group page
            $.get("/group/is_in_group/",
                 {group_slug: '{{ group.slug }}'},
                 function(returned_data)
                 {
                    if (returned_data=="True")
                    {
                        $('#join_group').hide();
                        $('#leave_group').show();
                        $("#create_discussion").show();
                        $("#create_group").show();
                        {% if has_voting %}
                            $("#end_vote").show();
                            $('#vote_progress').show();
                            $('#voting_progress').show();
                        {% else %}
                            $("#start_vote").show();
                        {% endif %}
                    }
                    else
                    {
                        $('#join_group').show();
                        $('#leave_group').hide();
                        $("#create_discussion").hide();
                        $("#create_group").hide();
                        $("#start_vote").hide();
                        $("#end_vote").hide();
                        $('#vote_progress').hide();
                        $('#voting_progress').hide();
                    }
                 });
            $("#login").hide();
        {% else %}
            $("#create_discussion").hide();
            $("#create_group").hide();
            $("#login").show();
        {% endif %}
        <!-- Edit inline for -->
        $('.edit').editable('/edit_inline/', {
            width   : 150
        });
        {% if show_errors_in_form %}
			$('#create_dialog').dialog('open');
        {% endif %}
	});
	function join_group(){
		$.post("/group/join_group/", {group_slug: '{{ group.slug }}' },
		function(data){
            if (data == "Joined") {
                $("#join_group").hide('slow');
                $("#leave_group").delay(1000).show('slow');
                $("#create_discussion").delay(2000).show('slow');
                <!-- if we in discussion page -->
                if (URL.indexOf('/discussion') == 0) {
                    $('<option/>', {
                        value: "members_list",
                        text: "Members List"
                    }).appendTo('#actions');
                }
                $.get("/group/is_group_manager/",
                    {group_slug: URL.split("/").reverse()[1]},
                        function(returned_data)
                        {
                        if (returned_data=="True")
                        {
                            {% ifequal mission_statement "" %}
                                $('<option/>', {
                                    value: "add_mission",
                                    text: "Add Mission Statement"
                                }).appendTo('#actions');
                                $('#mission_statement_edit').hide();
                            {% else %}
                                $('#mission_statement_edit').show();
                                $("#actions option[value='add_mission']").remove();
                            {% endifequal %}
                            $('<option/>', {
                                value: "delete_group",
                                text: "Delete group"
                            }).appendTo('#actions');
                        }
                        else
                        {
                            $('#mission_statement_edit').hide();
                            $("#actions option[value='add_mission']").remove();
                            $("#actions option[value='delete_group']").remove();
                        }
                        $('#mission_statement').show();
                    });
                {% if has_voting %}
                    $("#end_vote").delay(2000).show('slow');
                    window.location.reload();
                {% else %}
                    $("#start_vote").delay(2000).show('slow');
                {% endif %}
                getCurrentVuController().init(true);
            }
            else {
                alert("Your join request has been sent to the manager of the group. You will be notified when he approves it. Thanks you.");
            }
		});
	}
	function leave_group(){
		$("#leave_group_confirmation").dialog({
			bgiframe: true,
			resizable: true,
			height:150,
			modal: true,
			overlay: {
				backgroundColor: '#000',
				opacity: 0.5
			},
			buttons: {
				OK : function() {
					$.post("/group/leave_group/", {group_slug: '{{ group.slug }}'});
					$(this).dialog('close');
                    $("#leave_group").hide('slow');
                    $("#create_discussion").delay(1000).hide('slow');
                    $("#join_group").delay(2000).show('slow');
                    $("#start_vote").delay(2000).hide('slow');
                    $("#end_vote").delay(2000).hide('slow');
                    $('#vote_progress').delay(2000).hide('slow');
                    $('#voting_progress').delay(2000).hide('slow');
                    $('#mission_statement').show();
                    $('#mission_statement_edit').hide();
                    $("#actions option[value='add_mission']").remove();
                    $("#actions option[value='delete_group']").remove();
                    $("#actions option[value='members_list']").remove();
                    getCurrentVuController().init(true);
				},
                Cancel: function() {
					$(this).dialog('close');
				}
			}
		});
		$('#leave_group_confirmation').dialog('open');
	}
	<!-- Create new dialog -->
	$(function() {
		$("#create_dialog").dialog({
			bgiframe: true,
            autoOpen: false,
			height: 402,
			width: 787,
			modal: true,
			buttons: {
				'Create': function() {
					$("#create_form").submit();
				},

				Cancel: function() {
					$(this).dialog('close');
				}
			},
			close: function() {
				window.location = window.location;
			}
		});
		$('#create').click(function() {
			$('#create_dialog').dialog('open');
		})
	});
</script>
{% block extrahead %}{% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<div style="display:none" title="Leave Group Confirmation" id="leave_group_confirmation">Are you sure you want to leave the group?</div>
<!-- Container -->
<div id="container">
    {% block ajaxloader %}<div id="ajax_loader"><p>{% trans 'Loading...' %}</p></div>{% endblock %}
    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
		{#{% load version %}#}
		<div id="version">v0.25</div>
		</div>
        {% if user.is_authenticated %}
	        {#<div id="user-tools">{% trans 'Welcome,' %} <strong>{% firstof user.first_name user.username %}</strong>. {% block userlinks %}{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}<a href="/user-profile/">{% trans 'Edit profile' %}</a> / <a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}</div>#}
			<div id="user-tools">{% trans 'Welcome,' %} <strong>{% firstof user.first_name user.username %}</strong>. {% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}<a href="/user-profile/">{% trans 'Edit profile' %}</a> / <a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/accounts/logout/">{% trans 'Log out' %}</a></div>
		{% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    {%comment%}{% include 'admin/change_language.html' %}{%  endcomment %}
    <!-- END Header -->
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}

    <div id="footer">



    </div>
        <div id="feedback_button" style="display:block; position:fixed; bottom:250px; right:10px;">
            <a class="feedback toggle" href="/feedback/"><div style="writing-mode: tb-rl">{% trans 'Feedback' %}</div></a>
            <div id="feedback" style="display:none;"></div>
        </div>


        <script type="text/javascript">
        $(function() {
            var $feedback = $('#feedback'),
                $toggle = $('a.toggle.feedback'),
                url = $toggle.attr('href');

            $feedback.load('/feedback/', function(e) {
                $('form', $feedback).submit(function(e) {
                    var $form = $(this),
                        speech_act = $form.find("#id_speech_act").val(),
                        sentiment = $form.find("#id_sentiment").val(),
                        message = $form.find("#id_message").val(),
                        url = '/feedback/';
                        $.post(url, { message : message, speech_act: speech_act, sentiment: sentiment}, function(resp) {
                            console.log(resp)
                        $feedback.html(resp);
                    });
                    return false;
                });
            });
            $toggle.click(function(e) {
                $feedback.toggle('fast');
                return false;
            });
        });
        </script>


    {% endblock %}
</div>
<!-- END Container -->

</body>
</html>
