<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<![if gte IE 6]><!-- Block all styles from IE5 and lower -->
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}/static/css/base.css{% endblock %}" />
<link rel="stylesheet" href="/static/js/jquery/css/start/jquery-ui-1.8.2.custom.css" />
<!--link rel="stylesheet" href="/static/js/jquery/css/ui.all.css" type="text/css" /-->
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
<![endif]>

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

<script src="/static/js/jquery/jquery-1.4.2.min.js"></script>
<script src="/static/js/jquery/ui/jquery-ui-1.8.2.custom.min.js"></script>
<!--script src="/static/js/jquery/jquery.form.js"></script-->
<script src="/static/js/jquery/jquery.jeditable.js"></script>
<script src="/static/js/visualize.js"></script>
{% block extrahead %}{% endblock %}

<script>
	URL = window.location.href;
	$(document).ready(function() {
        if ((URL.indexOf('login') > 0) || (URL.indexOf('logout') > 0 || (URL.indexOf('register') > 0)))
        {
            document.getElementById('user-tools').style.display="none";
        }
        {% if user.is_authenticated %}
        if (URL.indexOf('/group') > 0)
        {
            $.get("/group/is_in_group/",
                 {group_slug: URL.split("/").reverse()[1]},
                 function(returned_data)
                 {
                    if (returned_data=="True")
                    {
                        document.getElementById('join_group').style.display="none";
                        document.getElementById('leave_group').style.display="block";
                    }
                    else
                    {
                        document.getElementById('join_group').style.display="block";
                        document.getElementById('leave_group').style.display="none";
                    }
                 });
        }
        {% endif %}
        <!-- Edit inline for -->
        $('.edit').editable('/edit_inline/', {
            width   : 150
        });
        {% if show_errors_in_form %}
			$('#create_dialog').dialog('open');
        {% endif %}
	});
	function join_group(){
		$.post("/group/join_group/", {group_slug: URL.split("/").reverse()[1]},
		function(data){
		    document.getElementById('join_group').style.display='none';
			document.getElementById('leave_group').style.display='block';
			document.getElementById('mission_statement').style.display='none';
			{% ifequal mission_statement "" %}
				document.getElementById('mission_statement_button').style.display='block';
				document.getElementById('mission_statement_edit').style.display='none';
			{% else %}
				document.getElementById('mission_statement_edit').style.display='block';
				document.getElementById('mission_statement_button').style.display='none';
			{% endifequal %}
		});
	}
	function leave_group(){
		$("#leave_group_confirmation").dialog({
			bgiframe: true,
			resizable: true,
			height:150,
			modal: true,
			overlay: {
				backgroundColor: '#000',
				opacity: 0.5
			},
			buttons: {
				Cancel: function() {
					$(this).dialog('close');
				},
				OK : function() {
					$.post("/group/leave_group/", {group_slug: URL.split("/").reverse()[1]});
					$(this).dialog('close');
					document.getElementById('leave_group').style.display='none';
					document.getElementById('join_group').style.display='block';
					document.getElementById('mission_statement_button').style.display='none';
					document.getElementById('mission_statement_edit').style.display='none';
					document.getElementById('mission_statement').style.display='block';
				}
			}
		});
		$('#leave_group_confirmation').dialog('open');
	}
	<!-- Create new dialog -->
	$(function() {
		$("#create_dialog").dialog({
			bgiframe: true,
            autoOpen: false,
			height: 402,
			width: 787,
			modal: true,
			buttons: {
				'Create': function() {
					$("#create_form").submit();
				},

				Cancel: function() {
					$(this).dialog('close');
				}
			},
			close: function() {
				window.location = window.location;
			}
		});
		$('#create').click(function() {
			$('#create_dialog').dialog('open');
		})
	});
</script>
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<div style="display:none" title="Leave Group Confirmation" id="leave_group_confirmation">Are you sure you want to leave the group?</div>
<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
		{#{% load version %}#}
		<div id="version">v0.04</div>
		</div>
        {% if user.is_authenticated %}
	        {#<div id="user-tools">{% trans 'Welcome,' %} <strong>{% firstof user.first_name user.username %}</strong>. {% block userlinks %}{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}<a href="/user-profile/">{% trans 'Edit profile' %}</a> / <a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}</div>#}
			<div id="user-tools">{% trans 'Welcome,' %} <strong>{% firstof user.first_name user.username %}</strong>. {% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}<a href="/user-profile/">{% trans 'Edit profile' %}</a> / <a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a></div>
			<div id="join_group" style="display:none"> <input type="button" value="Join Group" onclick="join_group();" /></div>
			<div id="leave_group" style="display:none"> <input type="button" value="Leave Group" onclick="leave_group();" /></div>
		{% else %}
				<div align="right" id="user-tools">
	        		<form action="/login/" method="post">
			        	<input id="path" type="hidden" name="path"/>
	                	<input type="submit" value="{% trans 'Login' %}" onmouseover="document.getElementById('path').value=document.URL;"/>
						<input type="button" value="{% trans 'Sign-up' %}" onclick="document.location='/accounts/register'"/>
					</form>
				</div>
		{% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    {%comment%}{% include 'admin/change_language.html' %}{%  endcomment %}
    <!-- END Header -->
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
    {% endif %}

        {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
