{% load i18n %}
{% get_available_languages as LANGUAGES %}
<script type="application/javascript">
function switch_lang(lang) {
    document.forms.language_form.language.value = lang;
    document.forms.language_form.submit();
}
</script>
<form name="language_form" action="/i18n/setlang/" method="post" style="display: inline;">
  <div style="display: inline;">
    <input type="hidden" name="language" value="en"/>
    {% for lang in LANGUAGES %}
        <a href="javascript:switch_lang('{{ lang.0 }}')">{% ifequal LANGUAGE_CODE lang.0 %}<strong>{% endifequal %}{{ lang.1 }}{% ifequal LANGUAGE_CODE lang.0 %}</strong>{% endifequal %}</a>
    {% endfor %}
  </div>
</form>