{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; <a href="{{ group.get_absolute_url }}">{{ group.group.name }}{% trans "'s Home" %}</a> &rsaquo; {{ discussion.name }}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{{ discussion.name }}{{ discussion.type.name }}{% endblock %}
{% block coltype %}diagram{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        #ui_container {float: left; width: 145px; padding-left: 15px}
        #canvasContainer {position: relative; float: left; margin: 0; padding: 0}
        #storysvu {position: absolute; left: 0; top: 0; margin: 0; padding: 0; border: thin solid #933}
        #course_of_action_container{background-color: #cff}
        #goal_condition_container{background-color: #ffc}
        #goal_container{background-color: #cf9}
        #possible_result_container{background-color: #ccf}
        div.relation {visibility:hidden}

        .stories_container{float: left}
        div.story {position: absolute; width: 150px; height: 100px; margin: 0; padding: 0; font-size: 12pt; font-weight: bold; cursor: move}
        div.story a.story_title {display: block; float: left; padding: 10px; color: #000}
        div.story a.story_title:hover {color: #033; text-decoration: underline}

        div.opinion { position: absolute; width: 30px; height: 30px }
        div.opinion a.opinion_title { display: block; float: left; padding: 0; color: #000 }

        .dragon { border: thin solid #033;opacity:.6; -moz-opacity:.6}
        .selecton { border: 2px solid #033 }
        img.story {width: 150px; height: 100px}
        a.member img {width: 50px; height: 50px; margin: 2px; border: 1px solid #933}

        /* Opinion Types */
        .for_opinion { color: #0f0 }
        .against_opinion { color: #f00 }
        .true_opinion { color: #00f }
        .false_opinion { color: #ff0 }
    </style>
{% endblock %}
{% block extrahead %}
    <script type="text/javascript">
        var config = {
            canvas_id	: 'storysvu',
            data_url	: '/discussions/get_stories_view_json/{{ discussion.slug }}',
            meta_url	: '/discussions/get_visualization_meta_data/'
        };
        var VUC = new VUController(config);
        var DC	= new DiscussionController(VUC, {});
        DC.init();
    </script>
{% endblock %}
{% block content %}

<h2>
    <div{% if user_in_group %} class="edit" id="discussion_{{ discussion.pk }}"{% endif %}>
		{{ discussion.name }}
	</div>
	({{ discussion.type.name }})
</h2>
{% ifequal user_permission_type 1 %}
	<form action="/discussion-delete/{{discussion.pk}}/" method="post">
        <input type="image" onclick="if(confirm('Are you sure you want to delete this discussion?')) {this.form.submit();} else { return false; }" src="/static/icons/delete.png">Delete discussion</input>
    </form>
{% endifequal %}


<p>
	{{ discussion.description }}
</p>

<hr/>
<div class="container">
<div id="canvasContainer"></div>
<div id="create_dialog" style="display:none" title="Create new Story">
	<form method="POST" action="" id="create_form">
	{{ story_form.as_p }}
	</form>
</div>

<div id="ui_container">
<div id="buttons_container">
{% if user_in_group %}
    <input id="create" class="ui-button ui-state-default ui-corner-all" type="button" value="{% trans 'Create Story' %}"/><br clear="all"/>
{% endif %}
	<input type="button" value="{% trans 'Stories List' %}" onclick="document.location.href='/stories_list/{{discussion.slug}}/'"/>
</div>
</div>
<br clear="both"/>
<hr/>
<form name="story-input">
	<fieldset>
		<input type="radio" name="story-class" id="story" value="story" /><label for="story">Story</label>
		<input type="radio" name="story-class" id="relation" value="relation" /><label for="relation">Relation</label>
		<input type="radio" name="story-class" id="opinion" value="opinion" /><label for="opinion">Opinion</label>
	</fieldset>
	<fieldset>
		<textarea name="title"></textarea>
	</fieldset>
	<fieldset>
		<select name="speech_act">
			{% for sa in speech_acts %}
				<option value="{{ sa.pk }}">{{ sa.name }}</option>
			{% endfor %}
		</select>
	</fieldset>
	<fieldset>
		<input type="submit" value="{% trans 'Submit' %}"/>
	</fieldset>
</form>
<hr/>
<!--
<h3>Current members</h3>
<div id="members_container">
{% for member in members %}
	<a href="{{ member.get_absolute_url }}" class="member" title="{{ member.username }}" alt=""><img src="{{ member.get_profile.get_picture_abs_url }}" alt=""/></a>
{% endfor %}
</div>
-->
</div>

<hr/>
<!--ul>
<div id="ddd">
<input type="button" value="{% trans 'Members List' %}" onclick="document.location.href='/members_list/{{group.name}}/'"/>
{% for member in members %}
    <li><a href="{{ member.get_absolute_url }}">{{ member.username }}</a>
{% endfor %}
</div>
</ul-->

{% endblock content %}