{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; <a href="{{ group.get_absolute_url }}">{{ group.group.name }}{% trans "'s Home" %}</a> &rsaquo; {{ discussion.name }}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{{ discussion.name }}{{ discussion.type.name }}{% endblock %}
{% block coltype %}diagram{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/discussions.css" />
{% endblock %}
{% block extrahead %}
    <script type="text/javascript">
        var config = {
            canvas_id	: 'storysvu',
            data_url	: '/discussions/get_stories_view_json/{{ discussion.slug }}',
            meta_url	: '/discussions/get_visualization_meta_data/'
        };
        VUC = new VUController(config);
        DC	= new DiscussionController(VUC, {});
        DC.init();
        $(document).ready(function () {
            $('button').filter('.ekkli-button').hover(
                function () {
                    $(this).addClass('ui-state-hover');
                },
                function () {
                    $(this).removeClass('ui-state-hover');
                }
            );

            var formConfigs = {
                story_input : {
                    callback : DC.init
                }
            };
            var FC = new FormController();
            FC.bind(formConfigs);
            
            $("input[name='story-class']").change(function () {
                var type = $(this).val();
                var data = 'story_type='+type+'&discussion_slug={{ discussion.slug }}';
                var parseJsonToOptions = function (json, field_name) {
                	var html = '';
                	$.each(json, function (i, item) {
						html += '<option value="'+item.pk+'">'+item.fields[field_name]+'</option>';
					});
					return html;
				}
                $.getJSON(
                    '/discussions/get_speech_acts_by_story_type/',
                    data,
                    function (response) {
                        $("select[name='speech_act']").html(parseJsonToOptions(response, 'name'));
                    }
                );
                if(type != '1') {
					$.getJSON(
						'/discussions/get_stories_json/',
						data,
						function (response) {
							switch(type) {
								case '3': {
									$('#story_input-from-story').show()
									                            .children('select')
																.html(parseJsonToOptions(response, 'title'));
									$('#story_input-to-story').show()
															  .children('select')
															  .html(parseJsonToOptions(response, 'title'));
									$('#story_input-on-story').hide();
								} break;
								case '2': {
									$('#story_input-on-story').show()
															  .children('select')
															  .html(parseJsonToOptions(response, 'title'));
									$('#story_input-from-story').hide();
									$('#story_input-to-story').hide();
								} break;
							}
						}
					)
				} else {
					$('#story_input-from-story').hide();
					$('#story_input-on-story').hide();
					$('#story_input-to-story').hide();
				}
            });
        });
    </script>
{% endblock %}
{% block content %}
<div id="buttons_container">
{% if user_in_group %}
	<!--input id="create" class="ui-button ui-state-default ui-corner-all" type="button" value="{% trans 'Create Story' %}"/><br clear="all"/-->
{% endif %}
	<input type="button" value="{% trans 'Stories List' %}" onclick="document.location.href='/stories_list/{{discussion.slug}}/'"/>
</div>

<h2>
    <div{% if user_in_group %} class="edit" id="discussion_{{ discussion.pk }}"{% endif %}>
		{{ discussion.name }}
	</div>
	({{ discussion.type.name }})
</h2>
{% ifequal user_permission_type 1 %}
	<form action="/discussion-delete/{{discussion.pk}}/" method="post">
        <input type="image" onclick="if(confirm('Are you sure you want to delete this discussion?')) {this.form.submit();} else { return false; }" src="/static/icons/delete.png">Delete discussion</input>
    </form>
{% endifequal %}


<p>
	{{ discussion.description }}
</p>


<div id="create_dialog" style="display:none" title="Create new Story">
	<form method="POST" action="" id="create_form">
	{{ story_form.as_p }}
	</form>
</div>

<div id="canvasContainer"></div>

<hr/>
{% block story_input %}
{% if user_in_group %}
<form name="story_input" method="POST" action="/discussions/add_story/">
    <input type="hidden" name="discussion" value="{{ discussion.id }}">
	<div id="story_input-types">
		<fieldset id="story_input-story-type">
			<legend>{% trans 'Story type:' %}</legend>
			<input type="radio" name="story-class" id="story" value="1" checked="checked" /><label for="story"> {% trans 'Story' %}</label>
			<input type="radio" name="story-class" id="relation" value="3" /><label for="relation"> {% trans 'Relation' %}</label>
			<input type="radio" name="story-class" id="opinion" value="2" /><label for="opinion"> {% trans 'Opinion' %}</label>
		</fieldset>
		<fieldset id="story_input-speech-act">
			<legend>{% trans 'Speech act:' %}</legend>
			<select name="speech_act">
				{% for sa in speech_acts %}
					<option value="{{ sa.pk }}">{{ sa.name }}</option>
				{% endfor %}
			</select>
		</fieldset>
	</div>
	<div id="story_input-stories">
		<fieldset id="story_input-from-story">
			<legend>{% trans 'From story:' %}</legend>
			<select name="from_story">

			</select>
		</fieldset>
		<fieldset id="story_input-to-story">
			<legend>{% trans 'To story:' %}</legend>
			<select name="to_story">

			</select>
		</fieldset>
		<fieldset id="story_input-on-story">
			<legend>{% trans 'On story:' %}</legend>
			<select name="parent_story">

			</select>
		</fieldset>
	</div>
	<fieldset id="story_input-title">
		<legend>{% trans 'Title:' %}</legend>
		<textarea name="title" class="is_value"></textarea><br/>
		<button type="submit" id="story_input-submit" class="ui-state-default ui-corner-all ekkli-button">{% trans 'Send' %}</button>
	</fieldset>
</form>
<hr/>
{% endif %}
{% endblock %}
<!--
<h3>Current members</h3>
<div id="members_container">
{% for member in members %}
	<a href="{{ member.get_absolute_url }}" class="member" title="{{ member.username }}" alt=""><img src="{{ member.get_profile.get_picture_abs_url }}" alt=""/></a>
{% endfor %}
</div>
-->


<hr/>
<!--ul>
<div id="ddd">
<input type="button" value="{% trans 'Members List' %}" onclick="document.location.href='/members_list/{{group.name}}/'"/>
{% for member in members %}
    <li><a href="{{ member.get_absolute_url }}">{{ member.username }}</a>
{% endfor %}
</div>
</ul-->

{% endblock content %}