{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; <a href="{{ group.get_absolute_url }}">{{ group.name }}{% trans "'s Home" %}</a> &rsaquo; <a href="{{ discussion.get_absolute_url }}"> {{ discussion.name }}</a> &rsaquo; {% trans "Stories List" %}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{% trans "Groups List" %}{% endblock %}
{% block coltype %}diagram{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<script type="text/javascript" src="/static/js/jquery/sorttable.js"></script>

<h2>
    {% trans "Stories List" %}
</h2>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="sortable">
				<thead>
				<tr>
					<th width="20">ID</th>
					<th width="100">Title</th>
					<th width="100">Content</th>
					<th width="100">Speech act</th>
					<th width="100">Created by</th>
					<th width="100">Created at</th>
					<th width="100">Updated at</th>
					<th>Operations</th>
				</tr>
				</thead>
				<tbody>

				{% for obj in my_items.object_list %}
				<tr class="ref_{{forloop.counter|divisibleby:"2"}}">
					<td align="left">{{ obj.pk }}</td>
					<td><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></td>
					<td><span{% if user_in_group %} class="edit" id="storycontent2_{{ obj.pk }}"{% endif %}>{{obj.content}}</span></td>
					<td>{{obj.speech_act}}</td>
					<td>{{obj.created_by}}</td>
					<td>{{obj.created_at}}</td>
					<td>{{obj.updated_at}}</td>
					{% ifequal user_permission_type 1 %}
						<td>
							<form action="/story-delete/{{obj.pk}}/" method="post">
						        <input type="image" onclick="if(confirm('Are you sure you want to delete story?')) {this.form.submit();} else { return false; }" src="/static/img/icons/delete.png">Delete Story</input>
						    </form>
						</td>
					{% else %}
						{% ifequal user obj.created_by %}
							<td>
								<form action="/story-delete/{{obj.pk}}/" method="post">
							        <input type="image" onclick="if(confirm('Are you sure you want to delete story?')) {this.form.submit();} else { return false; }" src="/static/img/icons/delete.png">Delete Story</input>
							    </form>
							</td>
						{% endifequal %}
					{% endifequal %}
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</td>
		<td width="300" class="sorttable_nosort">
			<form action="" method="get">
		        <input type="text" name="search" value="{{search_string}}"/>
				<input type="submit" value="Search"/>
				<h2>Filters</h2>
				{{ f.form.as_p }}
				<input type="submit" value="Filter"/>
		    </form>
		</td>
	</tr>
</table>

<div class="pagination">
    <span class="step-links">
        {% if my_items.has_previous %}
            <a href="{{ get_parameters }}page={{ my_items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ my_items.number }} of {{ my_items.paginator.num_pages }}.
        </span>

        {% if my_items.has_next %}
            <a href="{{ get_parameters }}page={{ my_items.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock content %}