{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; <a href="{{ group.get_absolute_url }}">{{ group.group.name }}{% trans "'s Home" %}</a> &rsaquo; <a href="{{ discussion.get_absolute_url }}">{{ discussion.name }}</a> &rsaquo; {{ object.title }}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{{ discussion.name }}:: {{ object.title }} | {{ object.speech_act }}{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/story.css" />
{% endblock %}
{% block extrahead %}
<script>
    $(document).ready(function() {
        $('#opinions').accordion().removeClass('hide');
        $('.edit_opinion_button').click(function () {
            
        });
        $('.delete_opinion_button').click(function () {
            var $this = $(this),
                $opinion = $('#opinion_body_'+$this.attr('pk')).add('#opinion_head_'+$this.attr('pk'));
            $.ajax({
                url : '/discussions/delete_opinion/',
                data: { opinion_pk : $(this).attr('pk') },
                type: 'post',
                success: function (response) {
                    if (response && response === 'OK') {
                        $opinion.remove();
                        alert('{% trans 'Opinion was deleted successfully!' %}');
                    }
                }
            });
            return false;
        });
        $('.edit-textarea').editable('/edit_inline/', {
            height  : 150,
            width   : 500,
            type    : 'textarea',
            cancel  : 'Cancel',
            submit  : 'OK'
       });
        $('.edit').editable('/edit_inline/', {
           width   : 500,
           cancel  : 'Cancel',
            submit  : 'OK'
       });
        $('.edit-opinion-content').editable('/discussions/update_opinion/', {
            height  : 150,
            width   : 500,
            type    : 'textarea',
            cancel  : 'Cancel',
            submit  : 'OK'
        });
        $('.editable_select_json').each(function () {
            var span = $(this),
                speech_act = span.attr('speech_act'),
                direction = span.attr('direction');
            span.editable('/discussions/edit_inline_select_field/{{object.pk}}/' + direction +'/', {
                width   : 150,
                loadurl : '/discussions/get_stories_json_by_speechact/{{ discussion.pk }}/' + speech_act +'/',
                type   : 'select',
                submit : 'OK'
            });
        });
    });
</script>
{% endblock %}
{% block content %}
<div id="content">
    <h1><span {% if user_in_group %} class="edit" id="storytitle_{{ object.pk }}"{% endif %}>{{object.title}}</span> ({{ object.speech_act }})</h1>
    <h4 id="discussion-name-header">{% trans 'Under discussion' %}: {{ discussion.name }}</h4>
    <div>
        <h3>{% trans 'By' %}: {{ object.created_by }}, {% trans 'at' %}: {{ object.created_at }}</h3>
        {% if object.from_story and object.to_story %}
        <h3>{% trans 'From' %}: <strong class="editable_select_json" direction="from" speech_act="{{ object.from_story.speech_act }}">{{ object.from_story }}</strong>, {% trans 'to' %}: <strong class="editable_select_json" direction="to" speech_act="{{ object.to_story.speech_act }}">{{ object.to_story }}</strong></h3>
        {% endif %}
    </div>
    <hr/>
    <p>
        <span {% if user_in_group %} class="edit-textarea" id="storycontent_{{ object.pk }}"{% endif %}>{{object.content}}</span>
    </p>
    <hr/>
    {% if opinions %}
    <h2>{% trans 'Opinions' %}:</h2>
    <div id="opinions" class="hide">
    {% for opinion in opinions %}
        <h3 id="opinion_head_{{ opinion.pk }}"><a href="#"><span class="opinion opinion_{{ opinion.speech_act }}">{{ opinion.speech_act }}</span>{{ opinion.title }}</a><button class="edit_opinion_button"></button></h3>
        <div id="opinion_body_{{ opinion.pk }}">
            {% if user.is_authenticated and user == opinion.created_by %}<a href="#" class="delete_opinion_button" pk="{{ opinion.pk }}" title="{% trans 'Delete opinion' %}"></a>{% endif %}<span>{% trans 'By' %}: {{ opinion.created_by }}, {% trans 'at' %}: {{ opinion.created_at }}</span>
            <p class="edit-opinion-content">{{ opinion.content }}</p>
        </div>
    {% endfor %}
    </div>
    <hr/>
    {% endif %}
</div>
{% endblock %}