{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; <a href="{{ group.get_absolute_url }}">{{ group.group.name }}{% trans "'s Home" %}</a> &rsaquo; <a href="{{ discussion.get_absolute_url }}">{{ discussion.name }}</a> &rsaquo; {{ object.title }}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{{ discussion.name }}:: {{ object.title }} | {{ object.speech_act }}{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/story.css" />
{% endblock %}
{% block extrahead %}
<script>
	$(document).ready(function() {
	    $('.edit').editable('/edit_inline/', {
			height	: 150,
	        width   : 500,
			type   : 'textarea',
			cancel    : 'Cancel',
         	submit    : 'OK'
	    });
	    $('#opinions').accordion().removeClass('hide');

        $('.editable_select_json').each(function () {
            var span = $(this),
                speech_act = span.attr('speech_act'),
                direction = span.attr('direction');
            span.editable('/discussions/edit_inline_select_field/{{object.pk}}/' + direction +'/', {
                width   : 150,
                loadurl : '/discussions/get_stories_json_by_speechact/{{ discussion.pk }}/' + speech_act +'/',
                type   : 'select',
                submit : 'OK'
            });
        });
	});
</script>
{% endblock %}
{% block content %}
<div id="content">
    <h1><span {% if user_in_group %} class="edit" id="storytitle_{{ object.pk }}"{% endif %}>{{object.title}}</span> ({{ object.speech_act }})</h1>
    <h4 id="discussion-name-header">Under discussion: {{ discussion.name }}</h4>
    <div>
        <h3>By: {{ object.created_by }}, at: {{ object.created_at }}</h3>
        {% if object.from_story and object.to_story %}
        <h3>From: <strong class="editable_select_json" direction="from" speech_act="{{ object.from_story.speech_act }}">{{ object.from_story }}</strong>, To: <strong class="editable_select_json" direction="to" speech_act="{{ object.to_story.speech_act }}">{{ object.to_story }}</strong></h3>
        {% endif %}
    </div>
    <hr/>
    <p>
        <span {% if user_in_group %} class="edit" id="storycontent_{{ object.pk }}"{% endif %}>{{object.content}}</span>
    </p>
    <hr/>
    {% if opinions %}
    <h2>Opinions:</h2>
    <div id="opinions" class="hide">
    {% for opinion in opinions %}
        <h3><a href="#"><span class="opinion opinion_{{ opinion.speech_act }}">{{ opinion.speech_act }}</span>{{ opinion.title }}</a></h3>
        <div><p>By: {{ opinion.created_by }}, at: {{ opinion.created_at }}</p><p>{{ opinion.content }}</p></div>
    {% endfor %}
    </div>
    <hr/>
    {% endif %}
</div>
{% endblock %}