.clear {overflow:hidden;height:0;clear:both}
.hidden {display:none}
#content{width:975px;margin:10px auto}

#buttons_container {float: right; padding-left: 15px}
#canvasContainer {position: relative; float:left; margin: 0; padding: 0;font-size: 12.6px}
#storysvu {position: absolute; left: 0; top: 0; margin: 0; padding: 0; border: thin solid #5B80B2}
#course_of_action_container{border-right: 1px solid #5B80B2}
#goal_condition_container{border-right: 1px solid #5B80B2}
#goal_container{}
#possible_result_container{border-right: 1px solid #5B80B2}
#vuslider {float:right}
#tooltip {width:500px;}
div.relation {display:none}
div.opinion {display:none}

.stories_container{float: left; text-align: center}
.stories_container h2{font-size: 16px}
div.story {position: absolute; margin: 0; padding: 0; font-weight: bold; cursor: move}
/* Enforce wait cursor for AJAX loading */body.wait div.story {cursor: wait;}
/* Enforce wait cursor for AJAX loading */body.wait div.story a.story_title {cursor: wait;}
/* Enforce wait cursor for AJAX loading */body.wait div.story a.story_content {cursor: wait;}
div.story a.story_title {display: block; float: left; padding: 2px; color: #000; overflow: hidden}
div.story a.story_title:hover {color: #033; text-decoration: underline}
div.story a.story_content {position: absolute; left: 0; bottom: 0; height: 32px; width: 32px; background:url('../img/icons/tool_tip_icon.gif') center center no-repeat;}
.dragon { border: thin solid #033;opacity:.6; -moz-opacity:.6}
.selecton { border: 2px solid #033 }
a.member img {width: 50px; height: 50px; margin: 2px; border: 1px solid #933}

/* Opinion Types */
.opinions { position: absolute; width: 24px; height: 24px }
.opinions a { position: relative; left: 0; top: 3px; color: #222 }
.opinion_container_bg{ position: absolute; left: 0; top: 0 }
/* Enforce wait cursor for AJAX loading */body.wait .opinions a {cursor: wait;}

/* Story Input Form */
/*fieldset{padding:2px;border:1px solid #5B80B2}*/
fieldset{margin-bottom:10px;paddin:2px;border:none}
.story_input-title{position:relative}
.story_input-title input{width:99%;}
#story_input-stories{}
#story_input-submit{float:right}
#story_input-types{}

/* jQuery UI Hacking */
/* Enforce disabled state on body.wait on *//*body.disabled .ui-state-disabled, body.disabled .ui-widget-content .ui-state-disabled, body.disabled .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }*/
