#content{width:960px;margin:10px auto}

#buttons_container {float: right; padding-left: 15px}
#canvasContainer {position: relative; float: left; margin: 0; padding: 0}
#storysvu {position: absolute; left: 0; top: 0; margin: 0; padding: 0; border: thin solid #5B80B2}
#course_of_action_container{border-right: 1px solid #5B80B2}
#goal_condition_container{border-right: 1px solid #5B80B2}
#goal_container{}
#possible_result_container{border-right: 1px solid #5B80B2}
div.relation {display:none}
div.opinion {display:none}

.stories_container{float: left; text-align: center}
div.story {position: absolute; margin: 0; padding: 0; font-size: 12pt; font-weight: bold; cursor: move}
div.story a.story_title {display: block; float: left; padding: 2px; color: #000; overflow: hidden}
div.story a.story_title:hover {color: #033; text-decoration: underline}

.dragon { border: thin solid #033;opacity:.6; -moz-opacity:.6}
.selecton { border: 2px solid #033 }
a.member img {width: 50px; height: 50px; margin: 2px; border: 1px solid #933}

/* Opinion Types */
.opinions { position: absolute; width: 24px; height: 24px }
.opinions a { position: relative; left: 0; top: 3px; color: #222 }
.opinion_container_bg{ position: absolute; left: 0; top: 0 }

/* Story Input Form */
fieldset{padding:2px;border:1px solid #5B80B2}
#story_input-from-story{display:none}
#story_input-on-story{display:none}
#story_input-to-story{display:none}
#story_input-stories{float:left}
#story_input-submit{float:right}
#story_input-title{position:relative}
#story_input-title textarea{width:99%;height:51px}
#story_input-types{float:left}