#buttons_container {float: right; padding-left: 15px}
#content{width:975px;margin:10px auto}
#canvasContainer {position: relative; float:left; margin: 0; padding: 0; font-size: 16px}
#groupsvu {margin: 0; padding: 0; border: thin solid #5B80B2}
#vuslider {float:right}
div.group{position: absolute; margin: 0; padding: 0; font-weight: bold; cursor: move}
div.group > a.group_title {display: block; float: left; padding: 3px; color: #000; overflow: hidden;}
div.group > a.group_title:hover {color: #033; text-decoration: underline}
.dragon { border: thin solid #033; background: url(/static/img/cork_board.jpg) left top no-repeat;opacity:.6; -moz-opacity:.6}
.selecton { border: 2px solid #033 }

#dialog { font-size: 82.5%; }
#dialog label, #dialog input { display:block; }
#dialog input.text { margin-bottom:12px; width:95%; padding: .4em; }
#dialog fieldset { padding:0; border:0; margin-top:25px; }
div#users-contain {  width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-button { outline: 0; margin:0; padding: .4em 1em .5em; text-decoration:none; cursor:pointer; position: relative; text-align: center; }
.ui-dialog .ui-state-highlight, .ui-dialog .ui-state-error { padding: .3em;  }

