.clear {overflow:hidden;height:0;clear:both}
.delete_opinion_button {float:right;width:12px;height:12px;background:url('../img/icons/delete.png') left top no-repeat;}
.hide {visibility:hidden;}
.opinion {display:inline-block;width:55px;margin-right:5px;text-align:center;font-weight:bold;color:#036;border:1px outset #fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.opinion_false {background-color:#ffc}
.opinion_true {background-color:#ccf}
.opinion_bad {background-color:#fcc}
.opinion_good {background-color:#cfc}
#content{width:975px;margin:10px auto}
h4#discussion-name-header {margin:0}

/* Opinions List */
div#opinions {padding:0;}
div#opinions {}
div#opinions h3 a{color:#fff}
form#opinion_edit {display:none;}
#opinions h3 a:hover{}
.opinion_title + button {display:none;margin-left:10px;}
.ui-state-active a .opinion_title + button {display:inline;}
.opinion_title + button span.ui-button-text {padding:2px 1em 2px 2em;}

/* Opinion Edit Form */
fieldset{margin-bottom:10px;paddin:2px;border:none}
fieldset input[type=text], fieldset textarea {width:99%;}