{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; <a href="{{ group.get_absolute_url }}">{{ group.name }}{% trans "'s Home" %}</a> &rsaquo; {{ goal.name }} {% trans 'path resolution' %}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block coltype %}diagram{% endblock %}

{% block extrahead %}
    

  <script type="text/javascript" src="/static/js/canvas-text/canvas.text.js"></script> 
  <script type="text/javascript">
    //window.onload=init;

      $(document).ready( function() {

            var canv = document.getElementById('canvas');
            var pos = $("#canvas").position();
            x0 = pos.left;
            y0 = pos.top;
            ctx = canv.getContext('2d');
            canvasW = canv.width;
            canvasH = canv.height;
            ctx.fillStyle = "rgb(230,230,230)";
            ctx.fillRect(0,0,canvasW,canvasH);
            ctx.font = "10px 'arial'";
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            ctx.fillStyle = "rgb(230,0,0)";
            $.get("../data/", { 'a': 1, 'b': 2 }, json_cb );


            $("#dialog").dialog({ autoOpen: false, width: 150, height:100, resizable: false, draggable: false });
            $("#read_write_dialog").hide();

            $("#canvas").click(function(e){
                var x = e.pageX-x0;
                var y = e.pageY-y0;
                clicked = -1;
                for (i=0;i<graphics.length;i++){
                    
                    if(graphics[i].isInside(x,y)) {
                        clicked = i;
                    }
                }
                
                if(clicked>=0){ // some graphic object was clicked
                    clearSelection();
                    graphics[clicked].draw(true);
                    selectedGraphic = clicked;
                    if(graphics[selectedGraphic].addNew === true){ // this is a 'create new' button
                        $("#dialog").html('please wait');                    
                        $.ajax({type:"GET", url:"/goal/"+goalNode.objId+"/"+graphics[selectedGraphic].type+"/create", dataType:"html", success:put_html_in_dialog, error:put_error_html_in_dialog});
                        
                    } else { // this is a normal node. show the read/write stories dialog
                        html = $("#read_write_dialog").html();
                        $("#dialog").html(html);
                    }
                    $("#dialog").dialog('option', 'position', [e.pageX - scrollX, e.pageY - scrollY]);
                    $("#dialog").dialog('option', 'title', graphics[clicked].toString());
                    $("#dialog").dialog('open');
                } else { // no graphic object was clicked. just bacground
                    clearSelection();
                    $("#dialog").dialog('close');

                }
           }); 
      });

    var ctx;
    var numActions = 0;
    var iActions = 0;
    var numResults = 0;
    var iResults = 0;
    var canvasW = 0;
    var canvasH = 0;
    var graphics = Array();
    var actionNodes = {};
    var resultNodes = {};
    var goalNode;
    var x0 = 0; // location of the canvas
    var y0 = 0; // location of the canvas
    var r2gArrows = {};
    var a2rArrows = {};
    var selectedGraphic = -1;  // index of the currently selected graphic object

    function Arrow(label,from,to,x1,y1,x2,y2,storiesURL){
        this.label = label;
        this.from = from; 
        this.to = to;
        this.x1 = x1;
        this.y1 = y1;
        this.x2 = x2;
        this.y2 = y2;
        this.storiesURL = storiesURL;    
        this.toString = function(){
            return "("+this.from.toString()+","+this.to.toString()+")";
        }

        this.draw = function(highlight){
            ctx.save();
            ctx.beginPath();
            ctx.lineWidth = 4;
            if(highlight){
                ctx.strokeStyle="rgb(230,130,200)";
            } else {
                ctx.strokeStyle="rgb(130,130,200)";
            }
            ctx.moveTo(this.x1,this.y1);
            ctx.bezierCurveTo(this.x1 + (this.x2-this.x1)/5,this.y1,this.x2-(this.x2-this.x1)/5,this.y2,this.x2,this.y2);
            ctx.stroke();
            drawText(label,(this.x1+this.x2)/2, (this.y1+this.y2)/2, this.x2-this.x1,Math.atan2(this.y2-this.y1,this.x2-this.x1));
            ctx.restore();
        }

        this.isInside = function(x,y){
            if (! ( (x >= x1) & (x <= x2) & (y >= Math.min(y1,y2)-6) & (y <= Math.max(y1,y2)+6) ) ){ // check if x,y is in the bounding rectangle
                return false;
            }
            alpha = (x - this.x1) / (this.x2 - this.x1);
            return (Math.abs(y - (alpha * (this.y2-this.y1) + this.y1)) <= 12);

        }
    }

    function Node(type,label,objId,addNew,storiesURL){
        this.objId = objId;
        this.type = type;
        this.label = label;
        this.addNew = addNew;
        this.storiesURL = storiesURL;        
        this.x = 0;
        this.y = 0;
        this.w = 0; // width
        this.h = 0; // height
        switch (this.type){
            case 'courseofaction':
                iActions++;
                this.x = 100;
                this.y = 10+(canvasH-20)/(numActions+1)*iActions;
                this.w = 100;
                this.h = 60;
                break;
            case 'possibleresult':
                iResults++;                
                this.x = 350;
                this.y = 10+(canvasH-20)/(numResults+1)*iResults;
                this.w = 100;
                this.h = 60;
                break;
            case 'goal':
                this.x = 650;
                this.y = canvasH/2;
                this.w = 140;
                this.h = 100;
                break;
        }

        this.draw = function(highlight){
            if (highlight){
                ctx.strokeStyle = "rgb(180,0,0)";
            } else {
                ctx.strokeStyle = "rgb(0,0,0)";
            }
            if(this.addNew){
                ctx.fillStyle = "rgb(230,230,230)";
            } else {
                ctx.fillStyle = "rgb(250,250,250)";
            }
            roundedRect(this.x-this.w/2,this.y-this.h/2,this.w,this.h,5);
            ctx.fillStyle = "rgb(0,0,0)";
            drawText(this.label, this.x-5, this.y, this.w, 0);      

        };     

        this.isInside = function(x,y){ // return true if x,y is inside this node
            return (x >= this.x - this.w/2) & (x <= this.x + this.w/2) & (y >= this.y - this.h/2) & (y <= this.y + this.h/2);
        }           

        this.toString = function(){
            return this.label;
        }
    }

    function roundedRect(x,y,width,height,radius){
      ctx.beginPath();
      ctx.moveTo(x,y+radius);
      ctx.lineTo(x,y+height-radius);
      ctx.quadraticCurveTo(x,y+height,x+radius,y+height);
      ctx.lineTo(x+width-radius,y+height);
      ctx.quadraticCurveTo(x+width,y+height,x+width,y+height-radius);
      ctx.lineTo(x+width,y+radius);
      ctx.quadraticCurveTo(x+width,y,x+width-radius,y);
      ctx.lineTo(x+radius,y);
      ctx.quadraticCurveTo(x,y,x,y+radius);
      ctx.fill();
      ctx.stroke();
    }



    function drawText(text,x,y,maxWidth,rotation){
    // if text is short enough - put it in 1 line. if not, search for the middle space, and split it there (only splits to 2 lines).
        
        ctx.translate(x,y);
        ctx.save();
        ctx.rotate(rotation);        
        if (ctx.measureText(text).width <= maxWidth*0.8){ 
            
            ctx.fillText(text,0,0);
        } else {
            var spl = text.split(' ');
            var len = Math.floor(spl.length/2);
            var pos = 0;
            for (var i=0; i<len; i++){
                pos = text.indexOf(' ',pos)+1;
            }            
            var text1 = text.substring(0,pos-1);
            var text2 = text.substring(pos);
            ctx.fillText(text1,0,-10);
            ctx.fillText(text2,0,+10);
        }
        ctx.restore();
        ctx.translate(-x,-y);
    }

    function clearSelection(){
        if(selectedGraphic>=0){
            graphics[selectedGraphic].draw(false);
            selectedGraphic = -1;
        }
    }

    function json_cb(data, textStatus){
        // read the json we got from the server, and draw all nodes.
        res = eval('('+data+')');
        numActions = res.actions.length+1;
        graphics = new Array();
        for(i=0;i<numActions-1;i++){ // add a node for each action
            n = new Node('courseofaction', res.actions[i].name,res.actions[i].id, false, res.actions[i].storiesURL);
            graphics[graphics.length] = n;
            actionNodes[n.objId] = n;
        }
        n = new Node('courseofaction','add new action',-1, true); // and a node for 'add new action'
        graphics[graphics.length] = n;
        
        numResults = res.results.length+1;
        for(i=0;i<numResults-1;i++){ // add a node for each result
            n = new Node('possibleresult',res.results[i].name,res.results[i].id,false, res.results[i].storiesURL);
            graphics[graphics.length] = n;
            resultNodes[n.objId] = n;
        }
        n = new Node('possibleresult','add new result',0,true); // and for the 'add new result'
        graphics[graphics.length] = n;

        n = new Node('goal',res.goal.name, res.goal.id, false, res.goal.storiesURL); // add goal node
        graphics[graphics.length] = n;
        goalNode = n;

        
        for(i=0;i<res.a2r.length;i++){ // draw arrows from actions to results
            n1 = actionNodes[res.a2r[i].from]; // from node
            n2 = resultNodes[res.a2r[i].to];   // to node
            a = new Arrow('causing',n1,n2,n1.x+n1.w/2,n1.y*0.85+0.15*n2.y,n2.x-n2.w/2,n1.y*0.15+0.85*n2.y,res.a2r[i].storiesURL);
            a2rArrows[i] = a;
            graphics[graphics.length] = a;
        }
        for(i=0;i<res.r2g.length;i++){ // draw arrows from results to goal
            n1 = resultNodes[res.r2g[i].from]; // from node
            a = new Arrow('leads to',n1,goalNode,n1.x+n1.w/2,n1.y,goalNode.x-goalNode.w/2,goalNode.y*0.85+n1.y*0.15,res.r2g[i].storiesURL);
            r2gArrows[i] = a;
            graphics[graphics.length] = a; 
        }
        
        for(i=0;i<graphics.length;i++){ // draw all graphics
            graphics[i].draw(false);
        }

    }

    function put_html_in_dialog(response){
        $("#dialog").html(response);
    }
    function put_error_html_in_dialog(xhr, ajaxOptions, thrownError){
        start = xhr.responseText.indexOf('<body>');
        stop = xhr.responseText.indexOf('</body>');
        if (start>=0 & stop>=0){
            text = xhr.responseText.substring(start+7,stop);
        } else {
            text = xhr.responseText;
        }

        $("#dialog").html(text);
    }

    function get_read_stories(){
        $("#dialog").html("please wait")
        $.ajax({type:"GET", url:graphics[selectedGraphic].storiesURL, dataType:"html", success:put_html_in_dialog, error:put_error_html_in_dialog});
    }

    function get_write_story(){
        $("#dialog").html("please wait")
        $.ajax({type:"GET", url: graphics[selectedGraphic].storiesURL+"write/", dataType:"html", success:put_form_in_dialog, error:put_error_html_in_dialog});
    }

    function put_form_in_dialog(response){
        put_html_in_dialog(response);
        $("#miniform").ajaxForm({ success:handle_submit_response });
    }
    function handle_submit_response(response,status){
        if (response == "OK") {
            put_html_in_dialog("{% trans "Thank you!" %}");
        } else {
            put_form_in_dialog(response);
        }
    }

  </script>

{% endblock extrahead %}
{% block title %} {{ title }} | {% trans 'Ecclesia' %} :: {{ goal.name }} {% endblock title %}
{% block content %}
<h1>How to get to {{ context.goal.name }}?</h1><p>Click on an item to add your ideas and opinions regarding it.</p>
<div id="myDiv">
<canvas id="canvas" width="800" height="400"></canvas>
</div>
<div id="status"></div>
<div id="dialog">
</div>
<div id="read_write_dialog">
	<p><a href="javascript:get_read_stories();">Read stories</a></p><p><a href="javascript:get_write_story();">Write new story</a></p>
</div>
{% endblock content %}
