{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; {{ user.username }}{% trans "'s Home" %}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{{ user.username }}{% trans "'s Home" %}{% endblock %}
{% block coltype %}diagram{% endblock %}

{% block content %}


    <h1>{% trans 'Edit profile' %}</h1>

    {% if form.errors %}
        <p style="color: red;">
            {% blocktrans %}Please correct the error{{ form.errors|pluralize }} below.{% endblocktrans %}
        </p>
    {% endif %}
	{% if additional_form.errors %}
        <p style="color: red;">
            {% blocktrans %}Please correct the error{{ additional_form.errors|pluralize }} below.{% endblocktrans %}
        </p>
    {% endif %}

	<table>
		<tr>
			<td>
				<img src="{{ user.get_profile.get_picture_abs_url }}" alt=""/>
			</td>
			<td>
				<form action="/user-profile/delete_picture/" method="post">
			        <input type="hidden" name="delete" value="{{ item.pk }}"/>
			        <input type="image" onclick="this.form.submit()" src="/static/img/icons/delete.png"/>
			    </form>
			</td>
		</tr>
	</table>
    <form action="" enctype="multipart/form-data" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <table>
            {{ additional_form.as_table }}
        </table>
		<a href="/admin/password_change/">{% trans 'To change your password' %}</a>
		<br/>
		<input type="submit" value="Submit">
	</form>
{% endblock content %}