{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; {{ group.group.name }}{% trans "'s Home" %}</div>{% endblock %}
{% block userlinks %}<a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{{ group.group.name }}{% trans "'s Home" %}{% endblock %}
{% block coltype %}diagram{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/group-home.css" />
{% endblock %}
{% block extrahead %}
<script>
    $(document).ready(function () {
        var config = {
                canvas_id           : 'discsvu',
                data_url            : '/get_discussions_view_json/{{ group.slug }}',
                update_status_url	: '/common/presentation_status/GroupProfile/{{ group.pk }}',
                dialog_title        : '{% trans 'Create Discussion' %}',
                bg_pic              : '/static/img/cork_board.jpg',
                user_permissions    : '{{ user_permissions }}'
            },
            VUC = new VUController({}),
            GC	= new GroupController(VUC, config).init(true);

        $(function() {
            $("#mission_statement_dialog").dialog({
                bgiframe: true,
                autoOpen: false,
                height: 402,
                width: 787,
                modal: true,
                buttons: {
                    Create: function() {
                        //$("#mission_statement_form").submit();
                        var that = this;
                        $.ajax({
                            url     : '/groups/set_mission_statement/{{ group.pk }}',
                            type    : 'post',
                            data    : $('#mission_statement_form').serialize(),
                            success : function (response) {
                                if (response) {
                                    $('#mission_statement_button').hide();
                                    $('#mission_statement_edit').show().children('div').text(response);
                                    $('div', '#mission_statement').text(response);
                                }
                                $(that).dialog('close');
                            },
                            error   : function (xhr, status, error) {
                                $(that).dialog('close');
                            }
                        });
                    },
                    Cancel: function() {
                        $(this).dialog('close');
                    }
                }
            });
        });
    });

    function create_discussion(event) {
        new VUController({
                dialog_title    : '{% trans 'Create Group' %}',
                user_permissions: '{{ user_permissions }}'
            }).getCreateGroupForm(event).dialog('open');
    }

    function actions() {
        if ($("#actions").val() == "add_mission") {
            $('#mission_statement_dialog').dialog('open');
        }
        if ($("#actions").val() == "group_settings") {
            window.location='/group/{{group.slug}}/settings';
        }
        if ($("#actions").val() == "discussions_list") {
            window.location='/discussions_list/{{group.slug}}/';
        }
        if ($("#actions").val() == "members_list") {
            window.location='/members_list/{{group.slug}}/';
        }
        if ($("#actions").val() == "delete_group") {
            if(confirm('{% trans 'Are you sure you want to delete this group?'%}')) {window.location='/group-delete/{{group.pk}}/';} else { return false; }
        }
        $("#actions").val("actions");
    }
</script>

{% if show_errors_in_mission_statement_form %}
<script>
    $(document).ready(function() {
        $('#mission_statement_dialog').dialog('open');
    });
</script>
{% endif %}
{% endblock %}
{% block content %}
{% if not messages %}
    <div id="members_container" style="float:right">
        <h3>{% trans 'Current members' %}</h3>
        {% for member in members %}
            <a href="{{ member.get_absolute_url }}" class="member" title="{{ member.username }}" alt=""><img src="{{ member.get_profile.get_picture_abs_url }}" alt=""/></a>
        {% endfor %}
    </div>

    <h2>
        {{ group.group.name }}{% trans "'s Home" %}
    </h2>

    <div>
        <div id="mission_statement_edit" {% if user_in_group %}{% ifnotequal mission_statement "" %}style="display:block"{%else%}style="display:none"{%endifnotequal%}{%else %}style="display:none"{% endif %}>
            <div class="edit" id="missionstatement_{{ mission_statement.pk }}">{{ mission_statement.mission_statement }}</div>
        </div>
        <div id="mission_statement" {% if not user_in_group %}{% ifnotequal mission_statement "" %}style="display:block"{%else%}style="display:none"{%endifnotequal%}{%else %}style="display:none"{% endif %}>
            <div>{{ mission_statement.mission_statement }}</div>
        </div>
    </div>

    <div>
        <select id="actions" onchange="actions();">
            <option value="actions">
                Actions
            </option>
            {% if user_in_group and mission_statement == "" and user_permission_type == 1 %}
                <option value="add_mission">
                    {% trans 'Add Mission Statement' %}
                </option>
            {% endif %}
            <option value="group_settings">
                {% trans 'Group settings' %}
            </option>
            <option value="discussions_list">
                {% trans 'Discussions List' %}
            </option>
            {% if user_in_group %}
                <option value="members_list">
                    {% trans 'Members List' %}
                </option>
            {% endif %}
            {% ifequal user_permission_type 1 %}
                <option value="delete_group">
                    {% trans 'Delete group' %}
                </option>
            {% endifequal %}
        </select>
    </div>

    <div style="float:left;margin-top:20px;">
        <div>
            <input type="button" class="medium_button medium_blue_button" value="{% trans 'Create Discussion' %}" onclick="create_discussion()"/>
        </div>
        <div>
            <div id="join_group" style="display:none"><input type="button" class="medium_button medium_green_button" value="Join Group" onclick="join_group();"/></div>
            <div id="leave_group" style="display:none"> <input type="button" class="medium_button medium_magenta_button" value="Leave Group" onclick="leave_group();"/></div>
        </div>
    </div>

    <hr/>

    <h3>{% trans 'Featured Discussions' %}</h3>
    <div id="canvasContainer"></div>

    <div id="create_dialog" style="display:none" title="Create new Discussion">
        <form method="POST" action="/discussions/add_discussion/" id="create_form">
            <input type="hidden" name="group" value="{{ group.group.pk }}"/>
            {{ discussion_form.as_p }}
        </form>
    </div>

    <div id="mission_statement_dialog" style="display:none" title="Mission Statement">
        <form method="POST" action="" id="mission_statement_form">
            {{ mission_statement_form.as_p }}
        </form>
    </div>

{% endif %}

{% endblock content %}