{% extends 'admin/base_site.html' %}
{% load i18n %}


{% block content %}


<h2>
	{% trans 'Welcome to Ecclesia' %}
</h2>

<p>
{% blocktrans %}
	   Ecclesia is a social/political platform for helping people organize and meet their common goals.
{% endblocktrans %}   
</p>

<hr/>

<h3>Current groups</h3>
<div id="canvasContainer"></div>
<style type="text/css">
#buttons_container {float: left; padding-left: 15px}
#canvasContainer {position: relative; margin: 0; padding: 0; float: left}
#groupsvu {margin: 0; padding: 0; border: thin solid #933}
.group{position: absolute; width: 150px; height: 100px; margin: 0; padding: 0; font-size: 12pt; font-weight: bold; overflow: hidden; border: thin solid #000; cursor: move}
.group a {display: block; float: left; padding: 10px; color: #000}
.group a:hover {color: #033; text-decoration: underline}
.dragon { border: thin solid #033; background: url(/static/img/cork_board.jpg) left top no-repeat;opacity:.6; -moz-opacity:.6}
.selecton { border: 2px solid #033 }
img {width: 150px; height: 100px}
</style>
<script type="text/javascript">
var i = 0;
VUController = function(options) {
	this.options = {
		width		: 900,
		height		: 600,
		alias		: 'group',
		bg_url		: '/static/img/cork_board.jpg',
		update_url	: '/common/update_coords/'
	}
	if(options != null) {
		$.extend(this.options, options);
	}
	this.options.update_url = this.options.update_url + this.options.alias;
	
	this.elems =[];
	this.coords = [];
	this.drag = {};
	this.ctx = null;
	this.img = new Image();
	this.img.src = this.options.bg_url;
	this.data = {
	{% for group in groups %}
		x_{{ group.pk }} : {{ group.x_pos }}, y_{{ group.pk }} : {{ group.y_pos }},
	{% endfor %}
	};
	{% for group in groups %}
	this.elems[i] = [];
	this.elems[i]['id'] = {{ group.pk }};
	this.elems[i]['name'] = '{{ group.group.name }}';
	this.elems[i]['url'] = '{{ group.get_absolute_url }}';
	this.coords[i++] = { left : {{ group.x_pos }}, top : {{ group.y_pos }} };
	{% endfor %}
	var this_ = this;
	$(this.img).load(function(){
		this_.init();
	});
};
VUController.prototype = {
	init		: function() {
		if(this.initCanvas()) {
			var this_ = this;
			$.each(this.elems, function(id, el) {
				$('#canvasContainer').append('<div class="'+this_.options.alias+'" id="'+this_.options.alias+'_'+id+'"><a href="'+el['url']+'">'+el['name']+'</a></div>');
				this_.drag = id;
				this_.position();
				$('#'+this_.options.alias+'_'+id).draggable({
					containment: 'parent',
					start: function(e, ui) {
						this_.setDrag(this);
						this_.grip();
					},
					stop : function(e, ui) {
						this_.coords[this_.drag] = $(this).position();
						this_.drop();
					}
				});
			});
			this.draw();
		} else {
			alert('No canvas context.');
		}
	},
	initCanvas	: function() {
		$('#canvasContainer').empty();
		$('#canvasContainer').append('<canvas id="'+this.options.alias+'svu" width="'+this.options.width+'" height="'+this.options.height+'"></canvas>');
		this.ctx = document.getElementById(this.options.alias+'svu').getContext('2d');
		return (this.ctx != null);
	},
	position	: function() {
		var w = this.coords[this.drag].left;
		var h = this.coords[this.drag].top;
		$('#'+this.options.alias+'_'+this.drag).css('left', w+'px');
		$('#'+this.options.alias+'_'+this.drag).css('top', h+'px');
	},
	setDrag		: function(el) {
		var len = this.options.alias.length + 1;
		this.drag = el.id.substr(len); // removing the this.options.alias+'_'
	},
	_draw		: function(id) {
		var h = $('#'+this.options.alias+'_'+id).height();
		var w = $('#'+this.options.alias+'_'+id).width();
		try {
			this.ctx.drawImage(this.img, this.coords[id].left, this.coords[id].top, w,  h);
		} catch(e) {}
	},
	draw		: function(isGrip) {
		var this_ = this;
		if(this.img) {
			this.ctx.clearRect(0, 0, this.options.width, this.options.height);
			$.each(this.elems, function(id, el) {
				if(isGrip) {
					if(id != this_.drag) {
						this_._draw(id);
					}
				} else {
					this_._draw(id);
				}
			});
		}
	},
	grip		: function() {
		$('#'+this.options.alias+'_'+this.drag).addClass('dragon');
		this.draw(true);
	},
	drop		: function() {
		$('#'+this.options.alias+'_'+this.drag).removeClass('dragon');
		this.draw();
		this.updateCoords();
	},
	updateCoords: function() {
		var this_ = this;
		$.each(this.elems, function(id, el){
			if(this_.coords[id].left != '') {
				var x = 'x_'+el['id'];
				var y = 'y_'+el['id'];
				this_.data[x] = parseInt(this_.coords[id].left);
				this_.data[y] = parseInt(this_.coords[id].top);
			}
		});
		
		$.ajax({
			type		: "POST",
			url			: this_.options.update_url,
			data		: this_.data,
			success		: function(msg){
				//alert(msg);
			}
		});
	}
};
var VUC = new VUController();
</script>
<div id="buttons_container">
	<input type="button" value="{% trans 'Create Group' %}" onclick="document.location.href='/admin/groups/groupprofile/add/'"/><br clear="all"/>
	<input type="button" value="{% trans 'Groups List' %}" onclick="document.location.href='/groups_list/'"/>
</div>

<hr/>



{% endblock content %}