{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
{% endblock %}
{% block extrahead %}
<script type="text/javascript">
	var VUC = new VUController();
	VUC.init();
</script>
{% endblock %}
{% block content %}

<h2>
	{% trans 'Welcome to Ecclesia' %}
</h2>

<p>
{% blocktrans %}
	   Ecclesia is a social/political platform for helping people organize and meet their common goals.
{% endblocktrans %}
</p>

<div id="buttons_container">
	{% if user.is_authenticated %}
		<input id="create" class="ui-button ui-state-default ui-corner-all" type="button" value="{% trans 'Create Group' %}"/><br clear="all"/>
	{% endif %}
	<input type="button" value="{% trans 'Groups List' %}" onclick="document.location.href='/groups_list/'"/>
</div>

<hr/>

<h3>Current groups</h3>
<div id="canvasContainer"></div>
<div id="create_dialog" style="display:none" title="Create new Group">
	<form method="POST" action="" id="create_form">
	{{ group_form.as_p }}
	</form>
</div>

<hr/>



{% endblock content %}