{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block content %}

<ul>

    <li>
        <h2 style="color:#8080FF">{% trans 'Ekkli enables large groups to think together' %}</h2>
    </li>

    <li>
        <h2 style="color:#8080FF">{% trans 'Without the need to meet in person' %}</h2>
    </li>

    <li>
        <h2 style="color:#8080FF">{% trans 'Using a new theory of how the brain works' %}</h2>
    </li>

    <li>
        <h2 style="color:#8080FF">{% trans 'Extended to apply to organizations.' %}</h2>
    </li>

    <br/><br/>

    <hr>

    <br/>

    <li>
        <h2 style="color:#8080FF">{% trans 'Watch the intro (6 min)' %}:</h2>
        <iframe src="http://player.vimeo.com/video/21291857" width="400" height="300" frameborder="0"></iframe>
        
    </li>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


    <p><input type="button" onclick="window.location.href='/groups'" style="font-size: 24px; color:purple; background-color:#8080FF" value="{% trans 'Start using Ekkli now' %}"/></p>

</ul>

{% endblock content %}