{% extends 'admin/base_site.html' %}

{% block content %}

<ul>

    <br/><br/><br/>

    <hr/>

    <br/><br/>

    <li>
        <h2>Life's full of critical decisions, that we usually make alone, or with just a few friends/colleagues.</h2>
    </li>

    <li>
        <h2>The thing is that there are probably thousands of people who were in the same
        situation, and made a similar decision. If only you had their experience,
        your decisions could have been much much better.</h2>
    </li>

    <br/><br/>

    <hr>

    <br/>

    <li>
        <h2>Ekkli is a service that learns from those people, to bring you their insights
        and conclusions, so that you'll make <b><i>the right decision</i></b>.</h2>
    </li>

    <br/><br/><br/><br/><br/>


    <p><h1><a href="/groups">Start using Ekkli now!</a></h1></p>

</ul>

{% endblock content %}