{% extends 'admin/base_site.html' %}

{% block content %}

<ul>

    <li>
        <h2 style="color:#8080FF">Ekkli enables large groups to <strong>think together</strong></h2>
    </li>

    <li>
        <h2 style="color:#8080FF">Without the need to meet in person</h2>
    </li>

    <li>
        <h2 style="color:#8080FF">Using a new theory of how the brain works</h2>
    </li>

    <li>
        <h2 style="color:#8080FF">Extended to apply to organizations.</h2>
    </li>

    <br/><br/>

    <hr>

    <br/>

    <!--li>
        <h2 style="color:#8080FF">Watch the intro:</h2>
    </li-->

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


    <p><input type="button" onclick="window.location.href='/groups'" style="font-size: 24px; color:purple; background-color:#8080FF" value="Start using Ekkli now"/></p>

</ul>

{% endblock content %}